<%= render "users/shared/bg-image" do %>
  <h1 class="mb-5 text-5xl font-bold">ログイン</h1>
  <p class="mb-5">日々のあなたのストレスを解消しましょう。<br>ここでは、あなたがありのままでいられる空間を<br>提供しています。</p>
  <%= form_with(model: resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions btn btn-active btn-link">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
  <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-link' %>
<% end %>
