<div style="height: 770px;">
  <div class="main-image-set hero min-h-screen relative">
    <%= render "shared/transition-opacity_bg-images" %>
    <div class="hero-content text-center text-neutral-content">
      <div class="mx-auto bg-white bg-opacity-60 rounded-lg" style="padding: 12px;">
        <div class="overflow-x-auto">
          <table class="table">
            <!-- head -->
            <%= yield %>
            <thead>
              <h1 class="main-text font-bold">高難易度の瞑想習慣の達成者<br>瞑想項目：<%= purpose_of_meditation.title.split("（").first %></h1>
              <tr>
                <th>名前</th>
                <th>選択した瞑想の目的</th>
              </tr>
            </thead>
            <tbody>
              <% if users.present? %>
                <% users.each do |user| %>
                  <tr>
                    <td>
                      <div class="flex items-center gap-3">
                        <div class="avatar">
                          <div class="mask mask-squircle w-12 h-12">
                            <% if user_avatar_url(user) %>
                              <div class="avatar placeholder">
                                <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
                                  <img src="<%= user_avatar_url(user) %>" alt="ユーザーアイコン", size: "37x37">
                                </div>
                              </div>
                            <% else %>
                              <div class="avatar placeholder">
                                <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
                                  <%= image_tag("default_user_icon_640.jpg", alt: "デフォルトユーザーアイコン", size: "37x37") %>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                        <div>
                          <div class="font-bold"><p><%= user.name %></p></div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="font-bold"><p><%= purpose_of_meditation.title %></p></div>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden">
    <%= render "shared/nature-sounds-list" %>
  </div>
</div>
