<div class="">
  <div class="main-image-set hero min-h-screen relative">
    <div id="main-bg1" class="main-bg-image absolute inset-0 transition-opacity duration-5000 ease-in-out" style="background-image: url(<%= image_url('forest1_1280.jpg') %>); background-position: center; background-size: cover;"></div>
    <div id="main-bg2" class="main-bg-image absolute inset-0 transition-opacity duration-5000 ease-in-out" style="background-image: url(<%= image_url('river1_1280.jpg') %>); opacity: 0; background-position: center; background-size: cover;"></div>
    <div id="main-bg3" class="main-bg-image absolute inset-0 transition-opacity duration-5000 ease-in-out" style="background-image: url(<%= image_url('cave1_1280.jpg') %>); opacity: 0; background-position: center; background-size: cover;"></div>
    <div id="main-bg4" class="main-bg-image absolute inset-0 transition-opacity duration-5000 ease-in-out" style="background-image: url(<%= image_url('underwater1_1280.jpg') %>); opacity: 0; background-position: center; background-size: cover;"></div>
    <div id="main-bg5" class="main-bg-image absolute inset-0 transition-opacity duration-5000 ease-in-out" style="background-image: url(<%= image_url('forest3_1280.jpg') %>); opacity: 0; background-position: center; background-size: cover;"></div>
    <div id="main-bg6" class="main-bg-image absolute inset-0 transition-opacity duration-5000 ease-in-out" style="background-image: url(<%= image_url('ocean1_1280.jpg') %>); opacity: 0; background-position: center; background-size: cover;"></div>
    <div id="main-bg7" class="main-bg-image absolute inset-0 transition-opacity duration-5000 ease-in-out" style="background-image: url(<%= image_url('forest2_1280.jpg') %>); opacity: 0; background-position: center; background-size: cover;"></div>
    <div id="main-bg8" class="main-bg-image absolute inset-0 transition-opacity duration-5000 ease-in-out" style="background-image: url(<%= image_url('ocean2_1280.jpg') %>); opacity: 0; background-position: center; background-size: cover;"></div>
    <div id="main-bg9" class="main-bg-image absolute inset-0 transition-opacity duration-5000 ease-in-out" style="background-image: url(<%= image_url('night1_1280.jpg') %>); opacity: 0; background-position: center; background-size: cover;"></div>
    <div id="main-bg9" class="main-bg-image absolute inset-0 transition-opacity duration-5000 ease-in-out" style="background-image: url(<%= image_url('rain1_1280.jpg') %>); opacity: 0; background-position: center; background-size: cover;"></div>
    <div id="main-bg9" class="main-bg-image absolute inset-0 transition-opacity duration-5000 ease-in-out" style="background-image: url(<%= image_url('night2_1280.jpg') %>); opacity: 0; background-position: center; background-size: contain;"></div>
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md  bg-white bg-opacity-50 p-5 rounded-lg">
        <h1 class="main-text mb-5 text-5xl font-bold transition-opacity duration-5000 ease-in-out">Do you meditate? Or do you play nature sounds?</h1>
        <p class="main-text mb-5 transition-opacity duration-5000 ease-in-out">日々のあなたのストレスを解消しましょう。<br>ここでは、あなたがありのままでいられる空間を<br>提供しています。</p>
        <button class="main-text btn btn-primary transition-opacity duration-5000 ease-in-out">meditate</button>
      </div>
    </div>
  </div>
  <div class="">
    <ul class="image_list transform translate-y-4 pb-4 flex justify-center text-zinc-400">
      <li class="mr-40 image-set" data-bg1="bg1_bonfire_sounds_image1" data-bg2="bg2_bonfire_sounds_image2">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure class="image-wrapper">
            <button><%= image_tag("bonfire1_640.jpg", class: "transition-opacity duration-1000", alt: "bonfire_sounds_image1", id: "bg1_bonfire_sounds_image1") %></button>
            <button><%= image_tag("bonfire2_640.jpg", class: "transition-opacity duration-1000", alt: "bonfire_sounds_image2", id: "bg2_bonfire_sounds_image2", style: "opacity: 0;") %></button>
          </figure>
          <div class="card-body bg-zinc-800">
            <h2 class="card-title">Bonfire</h2>
            <p>焚き火の音を聴く</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Listen Now</button>
            </div>
          </div>
        </div>
      </li>
      <li class="mr-40 image-set" data-bg1="bg1_forest_sounds_image1" data-bg2="bg2_forest_sounds_image2">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure class="image-wrapper">
            <button><%= image_tag("forest1_640.jpg", class: "transition-opacity duration-1000", alt: "forest_sounds_image1", id: "bg1_forest_sounds_image1") %></button>
            <button><%= image_tag("forest2_640.jpg", class: "transition-opacity duration-1000", alt: "forest_sounds_image2", id: "bg2_forest_sounds_image2", style: "opacity: 0;") %></button>
          </figure>
          <div class="card-body bg-zinc-800">
            <h2 class="card-title">Forest</h2>
            <p>森林の音を聴く</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Listen Now</button>
            </div>
          </div>
        </div>
      </li>
      <li class="mr-40 image-set" data-bg1="bg1_cave_sounds_image1" data-bg2="bg2_cave_sounds_image2">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure class="image-wrapper">
            <button><%= image_tag("cave1_640.jpg", class: "transition-opacity duration-1000", alt: "cave_sounds_image1", id: "bg1_cave_sounds_image1") %></button>
            <button><%= image_tag("cave2_640.jpg", class: "transition-opacity duration-1000", alt: "cave_sounds_image2", id: "bg2_cave_sounds_image2", style: "opacity: 0;") %></button>
          </figure>
          <div class="card-body bg-zinc-800">
            <h2 class="card-title">Cave</h2>
            <p>洞窟の音を聴く</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Listen Now</button>
            </div>
          </div>
        </div>
      </li>
      <li class="mr-40 image-set" data-bg1="bg1_river_sounds_image1" data-bg2="bg2_river_sounds_image2">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure class="image-wrapper">
            <button><%= image_tag("river1_640.jpg", class: "transition-opacity duration-1000", alt: "river_sounds_image1", id: "bg1_river_sounds_image1") %></button>
            <button><%= image_tag("river2_640.jpg", class: "transition-opacity duration-1000", alt: "river_sounds_image2", id: "bg2_river_sounds_image2", style: "opacity: 0;") %></button>
          </figure>
          <div class="card-body bg-zinc-800">
            <h2 class="card-title">River</h2>
            <p>川の音を聴く</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Listen Now</button>
            </div>
          </div>
        </div>
      </li>
      <li class="mr-40 image-set" data-bg1="bg1_rain_sounds_image1" data-bg2="bg2_rain_sounds_image2">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure class="image-wrapper">
            <button><%= image_tag("rain1_640.jpg", class: "transition-opacity duration-1000", alt: "rain_sounds_image1", id: "bg1_rain_sounds_image1") %></button>
            <button><%= image_tag("rain2_640.jpg", class: "transition-opacity duration-1000", alt: "rain_sounds_image2", id: "bg2_rain_sounds_image2", style: "opacity: 0;") %></button>
          </figure>
          <div class="card-body bg-zinc-800">
            <h2 class="card-title">Rain</h2>
            <p>雨の音を聴く</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Listen Now</button>
            </div>
          </div>
        </div>
      </li>
      <li class="mr-40 image-set" data-bg1="bg1_ocean_sounds_image1" data-bg2="bg2_ocean_sounds_image2">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure class="image-wrapper">
            <button><%= image_tag("ocean1_640.jpg", class: "transition-opacity duration-1000", alt: "ocean_sounds_image1", id: "bg1_ocean_sounds_image1") %></button>
            <button><%= image_tag("ocean2_640.jpg", class: "transition-opacity duration-1000", alt: "ocean_sounds_image2", id: "bg2_ocean_sounds_image2", style: "opacity: 0;") %></button>
          </figure>
          <div class="card-body bg-zinc-800">
            <h2 class="card-title">Ocean</h2>
            <p>海の音を聴く</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Listen Now</button>
            </div>
          </div>
        </div>
      </li>
      <li class="mr-40 image-set" data-bg1="bg1_night_sounds_image1" data-bg2="bg2_night_sounds_image2">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure class="image-wrapper">
            <button><%= image_tag("night1_640.jpg", class: "transition-opacity duration-1000", alt: "night_sounds_image1", id: "bg1_night_sounds_image1") %></button>
            <button><%= image_tag("night2_640.jpg", class: "transition-opacity duration-1000", alt: "night_sounds_image2", id: "bg2_night_sounds_image2", style: "opacity: 0;") %></button>
          </figure>
          <div class="card-body bg-zinc-800">
            <h2 class="card-title">Night</h2>
            <p>夜の音を聴く</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Listen Now</button>
            </div>
          </div>
        </div>
      </li>
      <li class="mr-40 image-set" data-bg1="bg1_underwater_sounds_image1" data-bg2="bg2_underwater_sounds_image2">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure class="image-wrapper">
            <button><%= image_tag("underwater1_640.jpg", class: "transition-opacity duration-1000", alt: "underwater_sounds_image1", id: "bg1_underwater_sounds_image1") %></button>
            <button><%= image_tag("underwater2_640.jpg", class: "transition-opacity duration-1000", alt: "underwater_sounds_image2", id: "bg2_underwater_sounds_image2", style: "opacity: 0;") %></button>
          </figure>
          <div class="card-body bg-zinc-800">
            <h2 class="card-title">Underwater</h2>
            <p>海中の音を聴く</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Listen Now</button>
            </div>
          </div>
        </div>      
      </li>
    </ul>
  </div>
</div>
