<div class="text-zinc-400 flex flex-col items-center justify-center">
  <h1 class="text-4xl mb-4 mt-4">投稿一覧</h1>
  <% if params[:q] && params[:q][:tags_name_cont_any] %>
    <div class="searched-tags">
      検索されたタグ:
      <% params[:q][:tags_name_cont_any].each do |tag| %>
        <%= tag %>
      <% end %>
    </div>
  <% end %>

  <%= search_form_for @q do |f| %>
    <div class="flex justify-center items-center my-2">
      <%= f.search_field :title_cont %>
      <%= f.label :title_cont, "動画タイトルで検索" %>
    </div>
    <div class="checkbox-wrapper flex">
      <% @tags.each_with_index do |tag, index| %>
        <p class="m-4">
          <%= check_box_tag 'q[tags_name_cont_any][]', tag, false, id: "tag_#{index}" %>
          <%= label_tag "tag_#{index}", tag %>
        </p>
      <% end %>
    </div>
    <div class="flex">
      <p class="main-text m-4">
        <%= f.submit "検索", class: "btn btn-primary" %>
      </p>
      <p class="main-text m-4">
        <%= link_to "戻る", request.referer || root_path, class: "btn btn-ghost rounded-btn" %>
      </p>
    </div>
  <% end %>
</div>

<div class="flex flex-wrap -m-4">
  <% @videos.each do |video| %>
    <div class="w-1/3 p-4">
      <div class="video-item bg-white rounded-lg shadow-md overflow-hidden">
        <div class="w-full h-40">
          <%= youtube_thumbnail(video.youtube_video_id) %>
        </div>
        <div class="p-4 mt-20">
          <h3 class="text-xl font-bold mb-2 text-zinc-400">
            <%= link_to video_path(video) do %>
              <p class="hover:underline text-xl font-bold mb-2 text-zinc-400">
                <%= video.title %>を再生する
              </p>
            <% end %>
          </h3>
        </div>
        <div class="p-2 text-zinc-400">
          紐付けられているタグ:
          <% video.tag_list.each do |tag| %>
            <span class="tag"><%= tag %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
