<ul class="image_list transform translate-y-4 pb-4 flex justify-center text-zinc-400">
  <li class="mr-40 image-set" data-bg1="bg1_bonfire_sounds_image1" data-bg2="bg2_bonfire_sounds_image2">
    <div class="card w-96 bg-base-100 shadow-xl">
      <figure class="image-wrapper">
        <%= image_tag("bg-images_640/bonfire1_640.jpg", class: "transition-opacity duration-1000", alt: "bonfire_sounds_image1", id: "bg1_bonfire_sounds_image1") %>
        <%= image_tag("bg-images_640/bonfire2_640.jpg", class: "transition-opacity duration-1000", alt: "bonfire_sounds_image2", id: "bg2_bonfire_sounds_image2", style: "opacity: 0;") %>
      </figure>
      <div class="card-body bg-zinc-800">
        <h2 class="card-title">Bonfire</h2>
        <p>焚き火の音を聴く</p>
        <div class="card-actions justify-end">
          <%= link_to 'Listen Now', videos_path(q: { tags_name_eq: '焚き火' }), class: 'btn btn-ghost rounded-btn text-zinc-400' %>
        </div>
      </div>
    </div>
  </li>
  <li class="mr-40 image-set" data-bg1="bg1_forest_sounds_image1" data-bg2="bg2_forest_sounds_image2">
    <div class="card w-96 bg-base-100 shadow-xl">
      <figure class="image-wrapper">
        <%= image_tag("bg-images_640/forest1_640.jpg", class: "transition-opacity duration-1000", alt: "forest_sounds_image1", id: "bg1_forest_sounds_image1") %>
        <%= image_tag("bg-images_640/forest2_640.jpg", class: "transition-opacity duration-1000", alt: "forest_sounds_image2", id: "bg2_forest_sounds_image2", style: "opacity: 0;") %>
      </figure>
      <div class="card-body bg-zinc-800">
        <h2 class="card-title">Forest</h2>
        <p>森林の音を聴く</p>
        <div class="card-actions justify-end">
          <%= link_to 'Listen Now', videos_path(q: { tags_name_eq: '森林' }), class: 'btn btn-ghost rounded-btn text-zinc-400' %>
        </div>
      </div>
    </div>
  </li>
  <li class="mr-40 image-set" data-bg1="bg1_cave_sounds_image1" data-bg2="bg2_cave_sounds_image2">
    <div class="card w-96 bg-base-100 shadow-xl">
      <figure class="image-wrapper">
        <%= image_tag("bg-images_640/cave1_640.jpg", class: "transition-opacity duration-1000", alt: "cave_sounds_image1", id: "bg1_cave_sounds_image1") %>
        <%= image_tag("bg-images_640/cave2_640.jpg", class: "transition-opacity duration-1000", alt: "cave_sounds_image2", id: "bg2_cave_sounds_image2", style: "opacity: 0;") %>
      </figure>
      <div class="card-body bg-zinc-800">
        <h2 class="card-title">Cave</h2>
        <p>洞窟の音を聴く</p>
        <div class="card-actions justify-end">
          <%= link_to 'Listen Now', videos_path(q: { tags_name_eq: '洞窟' }), class: 'btn btn-ghost rounded-btn text-zinc-400' %>
        </div>
      </div>
    </div>
  </li>
  <li class="mr-40 image-set" data-bg1="bg1_river_sounds_image1" data-bg2="bg2_river_sounds_image2">
    <div class="card w-96 bg-base-100 shadow-xl">
      <figure class="image-wrapper">
        <%= image_tag("bg-images_640/river1_640.jpg", class: "transition-opacity duration-1000", alt: "river_sounds_image1", id: "bg1_river_sounds_image1") %>
        <%= image_tag("bg-images_640/river2_640.jpg", class: "transition-opacity duration-1000", alt: "river_sounds_image2", id: "bg2_river_sounds_image2", style: "opacity: 0;") %>
      </figure>
      <div class="card-body bg-zinc-800">
        <h2 class="card-title">River</h2>
        <p>川の音を聴く</p>
        <div class="card-actions justify-end">
          <%= link_to 'Listen Now', videos_path(q: { tags_name_eq: '川' }), class: 'btn btn-ghost rounded-btn text-zinc-400' %>
        </div>
      </div>
    </div>
  </li>
  <li class="mr-40 image-set" data-bg1="bg1_rain_sounds_image1" data-bg2="bg2_rain_sounds_image2">
    <div class="card w-96 bg-base-100 shadow-xl">
      <figure class="image-wrapper">
        <%= image_tag("bg-images_640/rain1_640.jpg", class: "transition-opacity duration-1000", alt: "rain_sounds_image1", id: "bg1_rain_sounds_image1") %>
        <%= image_tag("bg-images_640/rain2_640.jpg", class: "transition-opacity duration-1000", alt: "rain_sounds_image2", id: "bg2_rain_sounds_image2", style: "opacity: 0;") %>
      </figure>
      <div class="card-body bg-zinc-800">
        <h2 class="card-title">Rain</h2>
        <p>雨の音を聴く</p>
        <div class="card-actions justify-end">
          <%= link_to 'Listen Now', videos_path(q: { tags_name_eq: '雨' }), class: 'btn btn-ghost rounded-btn text-zinc-400' %>
        </div>
      </div>
    </div>
  </li>
  <li class="mr-40 image-set" data-bg1="bg1_ocean_sounds_image1" data-bg2="bg2_ocean_sounds_image2">
    <div class="card w-96 bg-base-100 shadow-xl">
      <figure class="image-wrapper">
        <%= image_tag("bg-images_640/ocean1_640.jpg", class: "transition-opacity duration-1000", alt: "ocean_sounds_image1", id: "bg1_ocean_sounds_image1") %>
        <%= image_tag("bg-images_640/ocean2_640.jpg", class: "transition-opacity duration-1000", alt: "ocean_sounds_image2", id: "bg2_ocean_sounds_image2", style: "opacity: 0;") %>
      </figure>
      <div class="card-body bg-zinc-800">
        <h2 class="card-title">Ocean</h2>
        <p>海の音を聴く</p>
        <div class="card-actions justify-end">
          <%= link_to 'Listen Now', videos_path(q: { tags_name_eq: '海' }), class: 'btn btn-ghost rounded-btn text-zinc-400' %>
        </div>
      </div>
    </div>
  </li>
  <li class="mr-40 image-set" data-bg1="bg1_night_sounds_image1" data-bg2="bg2_night_sounds_image2">
    <div class="card w-96 bg-base-100 shadow-xl">
      <figure class="image-wrapper">
        <%= image_tag("bg-images_640/night1_640.jpg", class: "transition-opacity duration-1000", alt: "night_sounds_image1", id: "bg1_night_sounds_image1") %>
        <%= image_tag("bg-images_640/night2_640.jpg", class: "transition-opacity duration-1000", alt: "night_sounds_image2", id: "bg2_night_sounds_image2", style: "opacity: 0;") %>
      </figure>
      <div class="card-body bg-zinc-800">
        <h2 class="card-title">Night</h2>
        <p>夜の音を聴く</p>
        <div class="card-actions justify-end">
          <%= link_to 'Listen Now', videos_path(q: { tags_name_eq: '夜' }), class: 'btn btn-ghost rounded-btn text-zinc-400' %>
        </div>
      </div>
    </div>
  </li>
  <li class="mr-40 image-set" data-bg1="bg1_underwater_sounds_image1" data-bg2="bg2_underwater_sounds_image2">
    <div class="card w-96 bg-base-100 shadow-xl">
      <figure class="image-wrapper">
        <%= image_tag("bg-images_640/underwater1_640.jpg", class: "transition-opacity duration-1000", alt: "underwater_sounds_image1", id: "bg1_underwater_sounds_image1") %>
        <%= image_tag("bg-images_640/underwater2_640.jpg", class: "transition-opacity duration-1000", alt: "underwater_sounds_image2", id: "bg2_underwater_sounds_image2", style: "opacity: 0;") %>
      </figure>
      <div class="card-body bg-zinc-800">
        <h2 class="card-title">Underwater</h2>
        <p>海中の音を聴く</p>
        <div class="card-actions justify-end">
          <%= link_to 'Listen Now', videos_path(q: { tags_name_eq: '海中' }), class: 'btn btn-ghost rounded-btn text-zinc-400' %>
        </div>
      </div>
    </div>      
  </li>
</ul>
