<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-zinc-900 z-1", style="height: 1000px;">
    <%= render 'shared/header' %>
    <p class="notice bg-zinc-800"><%= notice %></p>
    <p class="alert bg-zinc-800"><%= alert %></p>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
  <%= javascript_importmap_tags %>
</html>
