<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-zinc-900 z-1", style="height: 1000px;">
    <%= render 'shared/header' %>

    <% if notice.present? %>
      <p class="notice bg-zinc-800 text-zinc-400"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
      <p class="alert bg-zinc-800 text-zinc-400"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
  <%= javascript_include_tag 'manifest', 'data-turbolinks-track': 'reload' %>
</html>
