<%= render "users/shared/error_messages", resource: resource %>
<%= render "users/shared/bg-image" do %>
  <h1 class="mb-5 text-5xl font-bold">新規登録</h1>
  <p class="mb-5">日々のあなたのストレスを解消しましょう。<br>ここでは、あなたがありのままでいられる空間を<br>提供しています。</p>
  <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions btn btn-active btn-link">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
  <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-link' %>
<% end %>
